---
import ContentTopBar from '@/components/ContentTopBar.astro';
import FeaturedCard from '@/components/FeaturedCard.astro';
import { Footer } from '@/components/Footer';
import Hero from '@/components/Hero.astro';
import Base from '@/layouts/Base.astro';
import type { PostFrontmatter } from '@/types/PostFrontmatter';
import { AppConfig } from '@/utils/AppConfig';
import sortByDate from '@/utils/sortByDate';

import BlogCard from '../components/BlogCard.astro';

const allPosts = (await Astro.glob<PostFrontmatter>('./posts/*.md')).filter(
  (post) => !post.frontmatter.draft
);
const sortedPosts = sortByDate(allPosts);
const totalPosts = sortedPosts.length;

const featuredPosts = sortedPosts.filter((post) => post.frontmatter.featured);

// bring pinned posts to top of sortedPosts
const pinnedPosts = sortedPosts.filter((post) => post.frontmatter.pinned);
const unpinnedPosts = sortedPosts.filter((post) => !post.frontmatter.pinned);
const sortedPostsPinned = [...pinnedPosts, ...unpinnedPosts];

const recentPosts = sortedPostsPinned
  .slice(0, 12)
  .filter((post) => !post.frontmatter.featured);

const title = 'Techno Philosopher';
const { description } = AppConfig;

const seeMoreButton =
  totalPosts > 12
    ? `<div class="mt-4 flex w-full justify-center">
        <a href="/posts">...See More Posts</a>
      </div>`
    : ``;
---

<script>
  import blogCardAnimations from '@/animations/blogcard';

  document.addEventListener('DOMContentLoaded', () => {
    blogCardAnimations();
  });
</script>

<Base head={{ title, description }}>
  <div class="flex w-full flex-wrap">
    <div class="md:2/5 w-full lg:w-2/5">
      <Hero title="Software Development & Techno Philosophy" />
    </div>
    <div class="md:3/5 h-screen w-full p-8 lg:w-3/5 lg:overflow-y-auto">
      <ContentTopBar>
        <!-- <div slot="left">
          <div class="flex flex-wrap items-center w-full">
            {
              tags.map((tag) => (
                <a
                  href={`/tag/${tag}/1`}
                  class="z-0 m-1 text-xs capitalize opacity-80"
                >
                  #{tag}
                </a>
              ))
            }
          </div>
        </div> -->
      </ContentTopBar>
      <div class="my-4 w-full px-8 pb-8">
        <!-- <div class="w-full">
          <h2 class="text-3xl font-bold p-8">
            Latest Posts
          </h2>
        </div> -->
        <div class="flex w-full flex-wrap justify-center">
          {featuredPosts.map((post) => <FeaturedCard post={post} />)}
        </div>
        <div class="flex flex-row flex-wrap justify-around">
          {recentPosts.map((post) => <BlogCard post={post} />)}
        </div>
        <Fragment set:html={seeMoreButton} />
      </div>

      <Footer />
    </div>
  </div>
</Base>
