---
import 'src/css/blogpost.scss';

import type { MarkdownInstance } from 'astro-boilerplate-components';
import type { ReactNode } from 'react';
// interface IBlogFrontmatter extends IFrontmatter {
//   astro: any;
//   tags: string[];
// }
import type { PostFrontmatter } from 'src/types/PostFrontmatter';

import SocialShareBar from '@/components/SocialShareBar.astro';
import IconClock from '@/icons/clock';
import IconUpArrow from '@/icons/upArrow.tsx';
import formatDate from '@/utils/formatDate';
import getReadingTime from '@/utils/getReadingTime';

import BlogCard from './BlogCard.astro';
import ContentTopBar from './ContentTopBar.astro';
import { Footer } from './Footer';
import MiniBlogCard from './MiniBlogCard.astro';

type IBlogPostProps = {
  frontmatter: PostFrontmatter;
  children: ReactNode;
  posts: MarkdownInstance<PostFrontmatter>[];
  html: () => string;
  raw: () => string;
};

const allPosts = await Astro.glob<PostFrontmatter>('../pages/posts/*.md');

const props = Astro.props as IBlogPostProps;

const getUpNext = (count: number) => {
  const filteredPosts = allPosts.filter(
    (post) => post.frontmatter.title !== props.frontmatter.title
  );

  const taggedPosts = filteredPosts.filter((post) => {
    return post.frontmatter.tags.some((tag: any) =>
      props.frontmatter.tags.includes(tag)
    );
  });

  if (!taggedPosts.length) {
    const idxs = [];
    for (let i = 0; i <= count; ++i) {
      idxs.push(Math.floor(Math.random() * filteredPosts.length));
    }
    return [...new Set(idxs.map((idx) => filteredPosts[idx]))];
  }

  const idxs = [];
  for (let i = 0; i <= count; ++i) {
    idxs.push(Math.floor(Math.random() * taggedPosts.length));
  }
  return [...new Set(idxs.map((idx) => taggedPosts[idx]))];
};

const allTags = allPosts.reduce((acc: any, post) => {
  post.frontmatter.tags.forEach((tag: any) => {
    if (!acc.includes(tag)) {
      acc.push(tag);
    }
  });
  return acc;
}, []);

const mdHtml = props.html ? props.html() : '';
const rawText = props.raw ? props.raw() : '';
---

<script>
  (() => {
    // credate dropcap for first paragraph of content
    // const firstParagraph = document.querySelector('.post-content p');
    // if (firstParagraph) {
    //   const firstLetter = firstParagraph.textContent?.charAt(0);
    //   if (firstLetter) {
    //     firstParagraph.innerHTML = `<div class="dropcap text-exo float-left text-sm leading-0 tracking-tight font-bold">${firstLetter}</div>${firstParagraph.innerHTML.slice(
    //       1
    //     )}`;
    //   }
    // }

    // setup back to top button
    const backToTop = document.getElementById('back-to-top-btn');
    const postColumn = document.getElementById('post-column');
    if (backToTop) {
      backToTop.addEventListener('click', () => {
        postColumn?.scrollTo({ top: 0, behavior: 'smooth' });
      });
    }

    // Create link icons for each heading and implement the ability to
    // click each heading to copy the link to the clipboard
    const headingsInPost = document.querySelectorAll(
      '.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6'
    );

    // create a gopher link for each heading
    headingsInPost.forEach((heading) => {
      heading.classList.add(
        ...['cursor-pointer', 'flex', 'items-center', 'post-heading']
      );
      const linkEl = document.createElement('div');
      linkEl.classList.add(...['gopher-link', 'opacity-0', 'hover:opacity-50']);
      linkEl.innerHTML = `<svg style="width: 100%; height: 100%;" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z"
      />
    </svg>`;
      const copiedEl = document.createElement('div');
      copiedEl.classList.add(...['opacity-0']);
      copiedEl.innerHTML = `<div class="text-xs">Copied!</div>`;
      heading.appendChild(linkEl);
      heading.appendChild(copiedEl);
      heading.addEventListener('click', async () => {
        const url = window.location.href.split('#')[0];
        await navigator.clipboard.writeText(
          `${url}#${encodeURIComponent(heading.id)}`
        );

        copiedEl.classList.remove('opacity-0');
        setTimeout(() => {
          copiedEl.classList.add('opacity-0');
        }, 1000);
      });
    });
  })();
</script>

<div class="p-8">
  <ContentTopBar>
    <div slot="left">
      <span class="text-sm md:text-base lg:text-lg"
        >{formatDate(props.frontmatter.pubDate)}
      </span>
    </div>
    <div slot="middle">
      <div class="flex items-center text-sm md:text-base lg:text-lg">
        <IconClock className="icon-xs mr-2" />
        {getReadingTime(rawText)} minute read
      </div>
    </div>
  </ContentTopBar>

  <div class="blogpost flex justify-center md:justify-between">
    <div class="relative w-full max-w-7xl p-4 lg:max-w-2xl lg:self-start">
      <div class="post-content relative">
        <Fragment set:html={mdHtml} />
        <div class="fixed bottom-7 right-20 flex">
          <div
            id="back-to-top-btn"
            class="back-to-top-btn cursor-pointer rounded-full bg-primarydark p-2 drop-shadow-[0_5px_5px_rgba(0,0,0,0.3)]"
          >
            <div style="width: 24px;">
              <IconUpArrow />
            </div>
          </div>
        </div>
      </div>

      <SocialShareBar />

      <div class="2xl:hidden">
        <div class="text-exo w-full px-2 pt-4 text-4xl font-bold">
          Read Next
        </div>
        <div class="mt-8 flex w-full flex-wrap justify-center">
          {
            getUpNext(4).map((post) => (
              <BlogCard post={post as MarkdownInstance<PostFrontmatter>} />
            ))
          }
        </div>
      </div>
      <div class="mt-8 flex w-full justify-center p-4 text-sm opacity-50">
        <Footer />
      </div>
    </div>

    <div class="hidden p-4 2xl:block">
      <div class="right-column sticky top-0 flex flex-wrap justify-start">
        <div class="text-exo w-full px-2 pt-4 text-right text-2xl font-bold">
          Read Next
        </div>
        {getUpNext(1).map((post) => <MiniBlogCard post={post} />)}
        <div class="flex flex-wrap items-center justify-end py-4">
          {
            allTags.map((tag: string) => (
              <a
                href={`/tag/${tag}/1`}
                class={`blogpost-tags mr-2 mb-2 rounded-lg px-2 py-1   text-sm capitalize text-primarydark opacity-80 dark:text-textdark ${
                  props.frontmatter.tags.includes(tag) && 'text-lg font-bold'
                }`}
              >
                #{tag}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
