---
import 'src/css/icon.scss';
import 'src/css/hero.scss';

import { Picture } from 'astro-imagetools/components';
import type { ReactNode } from 'react';
// import SearchBtn from "src/components/SearchBtn";
import MenuBtn from 'src/components/MenuBtn';

// import SearchOverlay from "@/components/SearchOverlay";
import MenuOverlay from '@/components/MenuOverlay';
import IconGithub from '@/icons/github';
// import IconLinkedin from "@/icons/linkedin";
// import IconMenu from "@/icons/menu";
import type { AuthorFrontmatter } from '@/types/AuthorFrontmatter';
import type { PostFrontmatter } from '@/types/PostFrontmatter';

type Props = {
  mode?: string;
  title?: string;
  subtitle?: string;
  frontmatter?: PostFrontmatter | AuthorFrontmatter;
  children?: ReactNode;
};

const props = Astro.props as Props;
let bkimg =
  props.mode === 'post'
    ? props?.frontmatter?.imgSrc
    : '/assets/images/face-the-day.jpg';
bkimg = props.mode === 'tag' ? '/assets/images/valleyofbooks.jpg' : bkimg;
bkimg = props.mode === 'search' ? '/assets/images/library.jpg' : bkimg;
bkimg =
  props.mode === 'author-posts'
    ? (props?.frontmatter as AuthorFrontmatter)?.heroImgSrc
    : bkimg;
bkimg = props.mode === 'authors' ? '/assets/images/pilgramage.jpg' : bkimg;

// const allPosts = await Astro.glob<PostFrontmatter>("../pages/posts/*.md");
---

<script>
  import heroAnimation from '@/animations/hero';

  (() => {
    const page = window.location.pathname.split('/').pop();

    if (page?.includes('search')) {
      // const search = document.getElementById('search');
      // const searchWrapper = document.getElementById('search-wrapper');

      sessionStorage.setItem('searchActive', 'false');

      const urlSearchParams = new URLSearchParams(window.location.search);
      const params = Object.fromEntries(urlSearchParams.entries());

      sessionStorage.setItem('searchActive', 'true');
      sessionStorage.setItem('searchTerm', params?.s ?? '');

      // search?.classList.remove('opacity-0');
      // search?.classList.add('fade-in');
      // searchWrapper?.classList.remove('hidden');

      const searchText = document.getElementById('search-title');
      if (searchText) searchText.innerText = params?.s || 'Search';
    }

    heroAnimation();
  })();
</script>

<section
  id="hero"
  class="relative border-accent drop-shadow-[0_15px_15px_rgba(0,0,0,0.5)] md:h-screen"
>
  <div class="hero flex justify-center px-8 py-5 md:h-full">
    <div class="hero-bk-img-wrapper absolute top-0 left-0 h-full w-full">
      <!-- Use image tools to optimize bk image -->
      {bkimg && <Picture src={bkimg} alt="ZachMoore.dev" />}
    </div>
    {
      (
        <div class="bloghero__overlay absolute bg-textdark  dark:bg-primarydark" />
      )
    }
    <div
      id="main-overlay"
      class={`bloghero__overlay absolute bg-textdark dark:bg-primarydark opacity-0 `}
    >
    </div>
    <div class="z-0 flex w-full max-w-7xl flex-col">
      <div class="w-full">
        <div class="navbar flex w-full items-center justify-between px-2">
          <div class="flex">
            <div
              id="menu-btn"
              class="p-2 mx-1 cursor-pointer hover:brightness-125"
            >
              <MenuBtn client:load />
              <!-- <IconMenu className="icon-lg" /> -->
            </div>
            <div
              id="github-btn"
              class="p-2 mx-1 cursor-pointer hover:brightness-125"
            >
              <a href="https://github.com/Zachacious" target="_blank">
                <IconGithub className="icon-lg" />
              </a>
            </div>
          </div>
          <h1 class="block">
            <div
              id="logo"
              class="hero-logo text-4xl font-normal hover:brightness-125"
            >
              <a href="/">ZACH<span class="font-bold">MOORE</span></a>
            </div>
            <!-- <div class="flex justify-end text-sm uppercase opacity-70">
              <div
                id="github-btn"
                class="hero-social-btn flex hover:brightness-75"
              >
                <div style="width: 18px"><IconGithub /></div>
                <div class="">
                  <a href="https://github.com/Zachacious">Github</a>
                </div>
              </div>
              <div class="mx-1"></div>
              <div
                id="linkedin-btn"
                class="hero-social-btn flex hover:brightness-75"
              >
                <div style="width: 18px"><IconLinkedin /></div>
                <div class="">
                  <a href="https://linkedin.com/in/zachmoore1">LinkedIn</a>
                </div>
              </div>
            </div> -->
          </h1>
          <!-- <div class="hidden lg:block">
            <ThemeToggle client:only="react" />
          </div> -->
        </div>
      </div>
      <div
        class="hero-footer break-word z-0 mb-12 flex w-full grow items-start"
      >
        <slot />
        <div id="menu-wrapper" class="mt-8 hidden w-full">
          <MenuOverlay id="menu" client:load />
        </div>
        <!-- <div id="search-wrapper" class="mt-8 hidden w-full">
          <SearchOverlay id="search" posts={allPosts} client:load />
        </div> -->
      </div>
      <div id="title" class="flex w-full justify-end py-10">
        <div class="flex flex-wrap justify-end">
          <div class="w-full text-right">
            {props.mode === 'search' && <div>Results For</div>}
            {props?.subtitle && <div>{props?.subtitle}</div>}
          </div>

          <h1
            class="post-title text-right text-5xl font-bold text-primarydark dark:text-textdark md:text-6xl"
          >
            <slot name="title">
              <div id="post-title">
                {
                  props.mode === 'search' ? (
                    <div id="search-title" class="">
                      Search
                    </div>
                  ) : props.mode === 'post' ? (
                    props?.frontmatter?.title
                  ) : props?.title ? (
                    props?.title
                  ) : (
                    'Blog'
                  )
                }
              </div>
            </slot>
          </h1>
          {
            props.mode === 'post' && (
              <div class="mt-2 flex w-full flex-wrap justify-end text-right">
                {props?.frontmatter?.tags?.map((tag) => (
                  <a
                    href={`/tag/${tag}/1`}
                    class="hero-tag inline-block px-2 py-1 text-lg font-bold capitalize opacity-60 hover:brightness-75"
                  >
                    #{tag}
                  </a>
                ))}
              </div>
            )
          }
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="left-toolbar" class="left-toolbar-wrapper">
    <div
      class="left-toolbar relative my-8 flex flex-col flex-wrap items-center"
    >
      {
        props.mode !== 'search' && (
          <div class="left-button relative my-2 cursor-pointer rounded-r-md bg-accent p-4 drop-shadow-md hover:brightness-125">
            <SearchBtn client:load />
          </div>
        )
      }
    </div>
  </div> -->
</section>
