---
import '../css/blogcard.scss';

import formatDate from '../utils/formatDate';

const { post } = Astro.props;

const categoryEl = post.frontmatter.category
  ? `<small class="rounded-lg p-1 px-2 z-0 opacity-80">${post.frontmatter.category}</small> `
  : null;

const style = post.frontmatter.imgSrc
  ? `background: url(${post.frontmatter.imgSrc}) center center / cover no-repeat;`
  : '';
---

<div
  class="blog-card relative mr-8 mb-8 flex cursor-pointer flex-col rounded-md bg-secondarydark bg-cover bg-center p-2 drop-shadow-[0_5px_5px_rgba(0,0,0,0.3)]"
  style={style}
  onclick={`window.location.href='${post.url}'`}
>
  <div class="blog-card__overlay absolute bg-textdark dark:bg-primarydark">
  </div>
  <div
    class="blog-card__header z-0 mb-1 flex flex-wrap items-center rounded-t-md px-3"
  >
    <h2 class="text-exo mb-0 w-full text-2xl font-bold">
      {post.frontmatter.title}
    </h2>
    <div class="w-full text-sm opacity-70">
      <small>{formatDate(post.frontmatter.pubDate)}</small>
    </div>
  </div>
  <div class="z-0 grow overflow-hidden px-3 text-lg">
    <div class="blog-card__desc h-full">
      {post.frontmatter.description}
    </div>
  </div>
  <div class="z-0 flex w-full justify-start p-2">
    <span>
      {
        post?.frontmatter?.tags?.map((tag) => (
          <a
            href={`/tag/${tag}/1`}
            class="z-0 m-1 text-sm capitalize opacity-80"
          >
            #{tag}
          </a>
        ))
      }
    </span>
  </div>
</div>
