---
import '../css/global.scss';

import BlogPost from '@/components/BlogPost.astro';
// import  BlogHero  from '@/components/BlogHero.astro';
import Hero from '@/components/Hero.astro';
import Base from '@/layouts/Base.astro';
import type { PostFrontmatter } from '@/types/PostFrontmatter';

// interface IBlogFrontmatter extends IFrontmatter {
//   tags?: string[];
// }

interface Props {
  content: PostFrontmatter;
}

const { content } = Astro.props as Props;
const html = Astro.props.compiledContent;
const rawText = Astro.props.rawContent;
const title = `${content.title}`;
const { description, imgSrc } = content;
const image = imgSrc;
---

<Base head={{ title, description, image }}>
  <div class="flex w-full flex-wrap">
    <div class="md:2/5 w-full lg:w-2/5">
      <!-- <BlogHero frontmatter={content} /> -->
      <Hero frontmatter={content} mode="post" />
    </div>
    <div
      id="post-column"
      class="md:2/5 h-screen w-full lg:w-3/5 lg:overflow-y-auto"
    >
      <BlogPost frontmatter={content} html={html} raw={rawText}>
        <slot />
      </BlogPost>
    </div>
  </div>
</Base>
